<html>
   <body>
      
      <form action = "{{ url_for('create_sparkworker') }}" method = "post">
         <p>Create workers:</p>
         <p><input type = "text" name = "amt" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <form action = "{{ url_for('create_sparkmaster') }}" method = "post">
      	<p>Create master:</p>
      	<p><input type = "submit" value = "submit" /></p>
      </form>

      <form action = "{{ url_for('delete_worker') }}" method = "get">
      	<p>delete worker</p>
      	<p><input type = "submit" value = "submit" /></p>
      </form>

      <form action = "{{ url_for('get_token') }}"  method = "get">
	<p>Get Token</p>
	<p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>
