<html>
   <body>
      
      <form action = "http://127.0.0.1:5000/createsparkworkers" method = "post">
         <p>Create workers:</p>
         <p><input type = "text" name = "amt" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <form action = "http://127.0.0.1:5000/createsparkmaster" method = "post">
      	<p>Create master:</p>
      	<p><input type = "submit" value = "submit" /></p>
      </form>

      <form action = "http://127.0.0.1:5000/token" method = "get">
	<p>Get Token</p>
	<p><input type = "submit" value = "submit" /></p>
      </form>
      
   </body>
</html>
